'use strict'

const BaseValidator = use('App/Validators/Base')

const {{ modelName }} = use('App/Models/{{ modelName }}')

class Update extends BaseValidator {
  get rules () {
    return {
      ...(this.removeRequiredRules({{ modelName }}))
    }
  }
}

module.exports = Update
